h1{
    font-family: 'Caveat', cursive;
}
 
h2{
    font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
}
p {
    font-family: 'Caveat', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
}